body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a1627;
    color:crimson;
}

header {
    text-align: center;
    background-color: #0a1627;
    color: crimson;
    padding: 1em 0;
}

#banner-img {
    display: block;
    width: 750px;
    height: 500px;
    display: block;
    margin: 0;
    margin-top: -120px;
    margin-bottom: -120px;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #0a1627;
}

nav{
    text-align: center;
}

nav li{
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
}

nav li a:hover{
    background-color: crimson;
}

h3 {
    text-align: center;
}

.DevID {
    color: white;
    text-align: center;
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    line-height: 1.6;
}

.DevID h3 {
    color: white;
}



.inputID {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0a1627;
    color: crimson;
}