body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color:crimson;
}

header {
    background-color: black;
    color: crimson;
    text-align: center;
    padding: 1em 0;
}

#product-info {
    margin: 2em 5%;
    padding: 1em;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0,1);
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: black;
    color: crimson;
}
