body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a1627;
    color:crimson;
}

header {
    text-align: center;
    background-color: #0a1627;
    color: crimson;
    padding: 1em 0;
}

#banner-img {
    display: block;
    width: 750px;
    height: 500px;
    display: block;
    margin: 0;
    margin-top: -120px;
    margin-bottom: -120px;
    margin-left: auto;
    margin-right: auto;
}

#mini-navbar {
    position: sticky;
    top: 200px;
    left: 0;
    width: 100%;
    background-color: #0a1627;
    color: crimson;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    z-index: 10;
}

#mini-navbar h3 {
    text-align: center;
}

#mini-navbar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#mini-navbar nav li {
    display: inline-block
}

#mini-navbar nav li a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

#mini-navbar nav li a:hover {
    background-color: crimson;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0a1627;
    color: crimson;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    background-color: #0a1627;
}

nav{
    text-align: center;
}

nav li{
    display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: dotted;
}

nav li a:hover{
    background-color: crimson;
}